In [3]:
import numpy as np
import pandas as pd

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [9]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [14]:
ser1 = pd.Series([1,2,3,4],['USA','USSR','BD','UAE'])

In [16]:
ser2 = pd.Series([1,2,5,4],['USA','USSR','India','UAE'])

In [17]:
from numpy.random import randn

In [18]:
np.random.seed(101)

In [19]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [20]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [23]:
#DataFrame is just a bunch of Series that share the same index

In [24]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [25]:
df['new'] = df['W'] + df['Z']

In [26]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [32]:
df.drop('new',axis=1,inplace=True)

In [33]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df.loc['C']

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [36]:
df.iloc[3]

W    0.188695
X   -0.758872
Y   -0.933237
Z    0.955057
Name: D, dtype: float64

In [41]:
df.loc['B','W']

0.6511179479432686

In [43]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [47]:
df[df['Z']>0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [48]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [49]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [50]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [51]:
newind = 'CA NY CO WT FL'.split()

In [52]:
df['States'] = newind

In [53]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     CO
D  0.188695 -0.758872 -0.933237  0.955057     WT
E  0.190794  1.978757  2.605967  0.683509     FL

In [56]:
df.set_index('States',inplace=True)

In [57]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
CO     -2.018168  0.740122  0.528813 -0.589001
WT      0.188695 -0.758872 -0.933237  0.955057
FL      0.190794  1.978757  2.605967  0.683509

In [58]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [59]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [60]:
df

             A         B
G1 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646
G2 1 -0.497104 -0.754070
   2 -0.943406  0.484752
   3 -0.116773  1.901755

In [69]:
df.loc['G1'].loc[2]

A    0.807706
B    0.072960
Name: 2, dtype: float64

In [70]:
df.index.names

FrozenList([None, None])

In [72]:
df.index.names = ['Groups','Index']

In [73]:
df

                     A         B
Groups Index
G1     1      0.166905  0.184502
       2      0.807706  0.072960
       3      0.638787  0.329646
G2     1     -0.497104 -0.754070
       2     -0.943406  0.484752
       3     -0.116773  1.901755

In [74]:
d

{'a': 10, 'b': 20, 'c': 30}

In [76]:
d['a'] = [1,2,3]

In [77]:
d

{'a': [1, 2, 3], 'b': 20, 'c': 30}

In [81]:
d['b'] = [20,30]

NameError: name 'NaN' is not defined

In [79]:
d

{'a': [1, 2, 3], 'b': [20, 30], 'c': 30}

In [80]:
new_df = pd.DataFrame(d)

ValueError: All arrays must be of the same length